header {
    display: flex;
    align-items: center;
    /* Vertical alignment to center */
    justify-content: space-between;
    /* Horizontal alignment to left and right */
    padding: 10px;
    /* Optional padding for spacing */
    border-bottom: 1px solid gold;
}

header #main {
    font-size: 20px;
}



#topmenu li {
    display: inline;
    border: 2px solid gray;
    margin-right: 1em;
    list-style-type: none;
}

.section-table {
    width: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling if content overflows */
}

.section-table table {
    width: 100%;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000;
    /* Border around table cells */
    padding: 8px;
    /* Add padding to the table cells for spacing */
    text-align: left;
    /* Adjust text alignment as needed */
}

#placeOrder {
    margin-top: 20px;
    float: right;
}

button {
    background-color: #1e7898;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}